* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #EAFDE6;
  text-align: center;
}

.intro {
  background-color: #1B676B;

}

h1 {
  color: #BEF202;
  font-size: 40px;
  padding: 25px 20px;
}
hr {
  border: 2px solid #BEF202;
}

canvas {
  background: #1B676B;
  display: block;
  margin: 0 auto;
  cursor: none;
}

.leaderboard {
  margin: 50px;
}

.info {
  display: flex;
  justify-content: space-around;
  color: #BEF202;
}

.info li {
  list-style-type: none;
  padding: 15px 0px;
}

.button {
  padding: 100px 30px 100px 0;
  display: block;
  text-align: center;
}

.container {
  padding: 100px 0px;
}
