* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #EAFDE6;
  text-align: center;
}

h1 {
  color: #519548;
  font-size: 40px;
  padding: 30px 20px;
}

canvas {
  background: #1B676B;
  display: block;
  margin: 0 auto;
}

.leaderboard {
  margin: 50px;
}

.info {
  display: flex;
  justify-content: space-around;
  color: #519548;
}

.info li {
  list-style-type: none;
}
